.time-line {
  font-size: 16px;
  line-height: 30px;
  border-left: 2px solid #080;
  margin: 20px 0 0 110px;
  padding: 0 20px;
  ul {
    list-style: none;
  }
  li {
    border-bottom: 1px dashed #ddd;
    &:hover {
      background: #efefef;
    }
    a {
      text-decoration: none;
    }
  }
  .year {
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0 0 -120px;
  }
  .month {
    color: #080;
    margin: 0 0 0 -55px;
    i {
      background: #fff;
      margin-left: 2px;
    }
  }
  .article-info {
    float: right;
  }
  time {
    border-right: 2px solid #555555;
    padding-right: 8px;
  }
}

.time-header {
  background: #fff;
  color: #080;
  font-size: 42px;
  margin-left: -40px;
}

.archives-box h1 {
  margin: 15px 0 0 -20px;
}

.month-box {
  margin-top: 10px;
}

.article-title {
  margin-left: 8px;
}