.pagination {
  list-style: none;
  margin-top: 10px;
  li {
    float: left;
    margin-right: 4px;
    color: #fff;
  }
  a {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    padding: 3px;
    border: 1px solid #363F48;
    text-align: center;
    text-decoration: none;
  }
  .enabled a:hover {
    background: #cc9;
    color: #000;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .prev a {
  }
  .next a {
  }
  .active a {
    background: #363F48;
    color: #fff;
  }
  .disabled a {
    background: #ddd;
    border: 1px solid #aaa;
    color: #999;
    cursor: default;
  }
}